body {
  margin: 0;
  line-height: inherit;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
}

.p-1 {
  padding: 0.25rem;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  place-content: center;
}

.bg-primary {
  background-color: #e7f0dc;
}

.bg-secondary {
  background-color: #243642;
}

.text-custom {
  color: #124076;
}

.font-bold {
  font-weight: 700;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h-20 {
  height: 5rem;
}

.h-4 {
  height: 1rem;
}

.h-2 {
  height: 0.5rem;
}

.w-full {
  width: 100%;
}

.place-content-center {
  place-content: center;
}

.items-center {
  align-items: center;
}

.border {
  border-width: 1px;
}

.border-black {
  border: 1px solid black;
}

.text-center {
  text-align: center;
}

.m-2 {
  margin: 0.5rem;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.gap-2 {
  gap: 0.5rem;
}
.rounded-md {
  border-radius: 0.375rem;
}

.p-2 {
  padding: 0.5rem;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 0 0.2rem #d9f3b9;
}
