body {
  margin: 0;
  line-height: inherit;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  place-content: center;
}

.bg-primary {
  background-color: #E7F0DC;
}

.bg-secondary {
  background-color: #243642;
}

.text-custom {
  color: #124076;
}

.font-bold {
  font-weight: 700;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h-20 {
  height: 5rem;
}

.h-4 {
  height: 1rem;
}

.h-2 {
  height: 0.5rem;
}

.w-full {
  width: 100%;
}

.place-content-center {
  place-content: center;
}

.items-center {
  align-items: center;
}

.border {
  border-width: 1px;
}

.border-black {
  border: 1px solid black;
}

.text-center {
  text-align: center;
}